{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<html>
<title>
    Tech Stack Toolkit
</title>
<header class = "page-header">
    <div class = "container">
        <h1>
            Welcome to the Tech Stack Toolkit Blog!
        </h1>
    </div>
    <button class = 'newPostButton'><a href="{% url 'post_new' %}" class="top-menu">New Post</a></button>
</header>
<header class="site-body">

{% for post in posts %}
<article class = "post">
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text }}<br></br></p>
    <p1>Posted by: {{ post.author }}</p>
    <time>Date Published: {{ post.datePublished }} </time>
    <button class='postButton'> <a href="{% url 'post_detail' pk=post.pk %}"> Reply </a></button>
    <br></br>   
</article>
{% endfor %}

</header>

</html>