{% load static %}
<!DOCTYPE html>
<html>

<title>
    Tech Stack Toolkit
</title>
<header class = "page-header">
    <div class = "container">
        <h1>
            Welcome to the Tech Stack Toolkit Blog!
        </h1>
    </div>
</header>
<header class="site-body">


<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<article class="postInd">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}<br></br></p>
    <p1>Posted by: {{ post.author }}</p>
    <time>Date Published: {{ post.datePublished }} </time>
    <button class=postButton> Reply </button>
    <br></br> 
</article>
</html>