html {
    background-color: rgb(142, 133, 133);
}

h {
    color:dodgerblue;
    font-family: 'Ariel';
    font-size: 30px;
}

.page-header {
    background-color: rgb(187, 68, 68);
}

.post {
    margin-bottom: 70px;
    background-color: rgb(187, 68, 68);
    margin-right: 750px;
}

.post h2 {
    font-weight: bold;
}

.post p {
    width: 748px;
    overflow-wrap: break-word;
}

.post time {
    font-size: 12px;
}

.site-body {
    background-color: rgb(142, 133, 133);
}