html {
    background-color: rgb(142, 133, 133);
}

h {
    color:dodgerblue;
    font-family: 'Ariel';
    font-size: 30px;
}

.page-header {
    background-color: rgb(187, 68, 68);
}

.post {
    margin-bottom: 70px;
    background-color: rgb(187, 68, 68);
    margin-right: 750px;
}

.post h2 a {
    font-weight: bold;
    color: black;
}

.post p {
    width: 748px;
    overflow-wrap: break-word;
}

.post p1 {
    font-size: 13px;
}

.post time {
    font-size: 12px;
}

.postButton {
    background-color: rgb(142, 133, 133);
}

.postInd {
    margin-bottom: 70px;
    background-color: rgb(187, 68, 68);
    margin-right: 750px;
}

.postInd h2{
    font-weight: bold;
    font-size: 25px;
}

.postInd p {
    width: 748px;
    overflow-wrap: break-word;
    font-size: 18px;
}

.postInd p1 {
    font-size: 15px;
}

.postInd time {
    font-size: 15px;
}

.site-body {
    background-color: rgb(142, 133, 133);
}